
<% if @posts %>
  <% @posts.each do |post| %>
    <p class="lead">
    	Posted By <a href="#">Karan</a>
    	

    </p>
    <span class="glyphicon glyphicon-time"></span> Posted on <%=  post.created_at %>
    
    <hr>
    <% if post.avatar.exists? %>
      <%= image_tag post.avatar.url(:medium) %>
    <% end %>
  <p><%= post.message %></p>
  <p> Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </p>


  <hr>
  <% end %>
<% end %>

<!-- Pager -->
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>

  <br>
  <hr>