
<h1 class="page-header">
    Trending Posts
    
</h1>

<div id = 'page-post'>
  <%= render'welcome/post' %>
</div>








<!-- Added javascript to ajaxify the pagination gem -->
<script>
 $(function(){
  $('.apple_pagination a').attr('data-remote', 'true');
 });
</script>


