
<!-- getting the tag as json object -->
<% autocomplete_tag_list = get_autocomplete_tag_list() %>

<%= form_for Post.new , html: { multipart: true } do  |f| %>


<div class="form-group">
        <%= f.label :message, "Post Your Thoughts:", class: "col-md-4 control-label message-label" %>
        
          <%= f.text_area :message, class: "form-control" , rows: "7" %>
          
      </div>

      <div class="form-group">
        <%= f.label :tag_list, "Tags:", class: "col-md-4 control-label message-label" %>
        
          <%= f.text_field :tag_list, class: "form-control", placeholder: "Enter tags separated by Comma"  %>
          
          
      </div>
      

      <div class = "form-group">
      	
        
             Attach Image <%= f.file_field :avatar %>
        
           
        
      </div>

  

      <%= f.submit "Submit Post" , class: "btn btn-info" %>

<% end %>


<!-- Ajax for autocomplete -->
  <script>
  $(function() {
    // var availableTags = [
    //   "ActionScript",
    //   "AppleScript",
    //   "Asp",
    //   "BASIC",
    //   "C",
    //   "C++",
    //   "Clojure",
    //   "COBOL",
    //   "ColdFusion",
    //   "Erlang",
    //   "Fortran",
    //   "Groovy",
    //   "Haskell",
    //   "Java",
    //   "JavaScript",
    //   "Lisp",
    //   "Perl",
    //   "PHP",
    //   "Python",
    //   "Ruby",
    //   "Scala",
    //   "Scheme"
    // ];
    //alert("<%= raw get_autocomplete_tag_list.to_json %>");
    var availableTags = <%= raw get_autocomplete_tag_list.to_json %>;
    
    //=============================
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#post_tag_list" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
    //=============================
    // $( "#post_tag_list" ).autocomplete({
    	
    //   source: availableTags
    // });
  });
  </script>