// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

    font-family: 'Raleway', sans-serif;
}

footer {
    margin: 50px 0;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";
@import "welcome";
@import "pagination";
