     <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Post Categories</h4>
                    <div class="row">
                        <div class="col-lg-10">
                            <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                                <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
                            <% end %>
               
                        <!-- /.col-lg-6 -->
                    </div>