<!DOCTYPE html>
<html>
<head>
  <title>Aurbatao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
</head>
<body>
	

<div class="container">
	<div class="row">
		<div class="col-md-8">
			
			<%= render 'posts/form' %>
			
			<%= yield %>
		</div>

		<div class="col-md-4">
			<%= render 'layouts/sidebarcategories' %>
			<%= render 'layouts/sidesearch' %>
			<%= render 'layouts/well' %>			
		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->
<hr>

</div>
<!-- /.container -->


<hr>
</body>
<%= render 'layouts/footer' %>
</html>
